#gallery{
    background-image: url(https://images.unsplash.com/photo-1532712938310-34cb3982ef74?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80) ;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.container-fluid{
    /* background-image: linear-gradient(to top right,rgb(252, 159, 175),white); */
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: 'Petit Formal Script', cursive ;
    color: white;
}

.container-fluid h1{
    font-size: 70px;
    padding-bottom: 50px;
}

.galimg img{
    border: 5px white solid;
    width: 400px;
    
}

.galimg img:hover{
    transform: scale3d(1.1);
    animation: beat 0.75s infinite alternate;
}

@keyframes beat{
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }
}
.galimg{
    display: inline-block;
    padding-bottom: 20px;
    padding-right: 20px;
}

.row {
    padding-top: 10px;
    padding-left: 10px;
}
h1{
    padding-bottom: 20px;
}


.image-class{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.85);
    z-index: 100;
    top: 0;
    left: 0;
    position: fixed;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.image-class img{
    max-width: 90vw;
    max-height: 90vh;
    padding-top: 40px;
    
}

.popdisplay{
    display: none;
}
@media (max-width : 440px){
    .galimg img{
        width: 250px;
    }
    
}